<div class="contact-wrapper">
<ul class="">
<% friends.forEach(function(friend){ %>
    <div class="contact" id="<%=friend.email%>">
            <% if(user.profilePic){%>
            <img src="<%=user.profilePic%>">
        <%} else {%>
            <img src="img/default-pic.jpg">
        <%}%>
        <h2><%=friend.name%></h2>
    </div>
<% }); %>
</ul>
</div>