<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav id="navbar">
            <div class="sec navbar">
            <div class="logo">
                <h3 >DevLink</h3>
                <img src="img/icons8_link_52px.png" height="30px">
            </div>
            <div class="nav-links">
                <li class="btn btn-success"><a href="/login">Login</a></li>
                <li class="btn btn-secondary"><a href="/register">Register</a> </li>
            </div>
        </div>
        </nav>
    
   