<div class="tab-links">
    <li class="btn btn-dark" id="discover-tab">Discover</li>
    <li class="btn btn-dark" id="message-tab">Message</li>
    <li class="btn btn-dark" id="profile-tab">Profile</li>
</div>