<%-include('partials/header1');-%>
<div></div>
        <div class="home sec">
                <h2>Howdy,</h2>
                <h4>Build Projects with fellow aggies.</h4>
                <h3>Sign up today to get a project started</h3>
            </div>
            <div class="background-container">
                    <img class="background" src="img/abstract-code.jpg">
                </div>
</div>
    

<%-include('partials/footer');-%>