<%-include('partials/header2');%>
<div class=full-screen>
    <div class="contacts">
        <div id="contact-header">
            <h2>Contacts:</h2>
        </div>
        
        <%- include('partials/contacts',{friends:friends,persona:persona}); %>
    </div>
    <div class="tabs">
    </div>
    <div class="page">
    </div>
</div>



<%-include('partials/footer');%>
