/* HSL */
$color1: hsla(180%, 58%, 4%, 1);
$color2: hsla(129%, 57%, 33%, 1);
$color3: hsla(135%, 59%, 41%, 1);
$color4: hsla(180%, 13%, 20%, 1);
$color5: hsla(120%, 100%, 99%, 1);

/* RGB */
$color1: rgba(4, 15, 15, 1);
$color2: rgba(36, 130, 50, 1);
$color3: rgba(43, 168, 74, 1);
$color4: rgba(45, 58, 58, 1);
$color5: rgba(252, 255, 252, 1);
::-webkit-scrollbar {
    display: none;
}
.full-screen{
    display: grid;
    height: calc(100vh - 58px);
    grid-template:
                "c t t t" 50px
                "c p p p" auto
                "c p p p" auto
                "c b b b" 1px / 20% auto auto auto;
}
.buttons{
    grid-area: b;
    background: $color1;
    position: relative;
}
.tabs{
    grid-area: t;
    background: $color4;
    border-left: $color5 1px solid;
    border-bottom: $color5 3px solid;
    .tab-links{
        float: right;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        // margin-right: 20%;
        .btn-dark{
            background: $color4;
            width: 100%;
            height: 100%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-around;
            letter-spacing: 1.5px;
        }
        .btn-dark:hover{
            background: $color1;
        }
        li{
            list-style: none;
            color: $color5;
            // margin-right: 20px;
            font-size: 1.2em;
        }
    }

}
.contacts{
    overflow: scroll;
    scrollbar-width: none;
    grid-area: c;
    background: $color4;
}
.contact-wrapper{
    // margin-top: 20px;
    ul{
        padding-left: 0;
    }
}
.contact{
    color: $color5;
    padding-left: 40px;
    border-bottom: $color5 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    h2{
        padding-top: 8px;
    }
    img{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 10px;
    }
}.contact:hover{
    background: $color1;
}
#contact-header{
    color: $color5;
    height: 50px;
    padding-left: 40px;
    border-bottom: $color5 3px solid;
}


.page{
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
    flex-direction: row;
    .profile-container{
        position: relative;
        h3{
            margin-bottom: 0;
        }
    }
    grid-area: p;
    img{
        width: 350px;
    }
    .about-user{
        display: inline-block;
        margin-left: 20px;
        max-width: calc(80% - 300px);
        margin-top: auto;
        position: absolute;
        bottom: 0;
        h1{
            font-size: 3em;
            text-decoration: underline;
        }
    }
    hr{
        border: 2px $color1 solid;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: circle;
    }
}
#yes, #no{
    width: 75px;
}
.hidden{
    display:none !important;
}
.button{
    position: absolute;
    bottom: 0;
}
#no{
    left: 0;
}
#yes{
    right: 0;
}
.button:hover{
    cursor: pointer;
}
.mini-card{
    display: flex;
    flex-direction: row;
    background: $color4;
    color: $color5;
    max-width: 75%;
    margin: auto;
    img{
        width: 350px;
        height: 350px;
        padding: 25px;
    }
    .side{
        padding:25px;
        // max-width: 500px;
    }
}